.container{
    padding-left: 7rem;
    padding-right: 7rem;
    width: 100%;
    margin-top: 20px;
}

.header-wrapper{
    display: flex;
    width: 100%;
    margin-right: 3rem;
}
.root{
    background-color: white;
    top: 0;
    z-index: 100;
    height: 5rem;
    position: sticky;
    border-bottom: 1px solid black;
    align-items: center 
}
.nav{
    align-items:center;
    display: flex;
    list-style-type: none;
}
.nav li a{
    display: block;
    font-weight: 700;
    margin: 0 1.5rem;
    padding: 0.5rem 0;
    color: black;
    cursor: pointer;
    transition:all;
    text-decoration: none;
}
.active{
    border-bottom: 1px double #d2691e;
    color: #d2691e;
}
.button{
    align-items: center;
    background-color: #d2691e;
    color: white;
    cursor: pointer;
    display: flex;
    font-weight:700;
    justify-content: center;
    width: 12rem;
    text-decoration: none;
}
.header-right{
    align-items: center;
    display: flex;
    margin-left: 20rem;

}
.search{
    align-items: center;
    display: flex;
}
.search-box input{
    border: none;
    font-size: .75rem;
    outline: none;
    padding-bottom: 0.3125rem;
    padding-right: 1rem;
    width: 9.75rem;
    border-bottom: 1px solid black;

}
.search .search-icon{
    position: relative;
    right: 7%;
}
.account{
    cursor: pointer;
    justify-content: space-between;
    margin-left: 2.5rem;
    width: 5rem;
    margin-left: 2rem;
}
.account .account-icon{
    align-items: center;
    display: flex;
    width: 1.25rem;
}
.account .account-icon svg{
    object-fit: cover;
    width: 100%;
    margin-top: 10px;
    
    
}
.account-text{
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 1rem;
    margin: 0;
    margin-top: -5px;
    margin-left: 25px;
}


.cart{
    margin-left: 2.5rem;
    position: relative;
}
.cart .cart-icon{
    align-items: center;
    display: flex;
    height: 1.18rem;
    width: 1.3rem;
}
.cart .cart-icon svg{
    
    width: 100%;
    margin-left: 0;
} 

.cart-noti p{
    background-color: #d2691e;
    border-radius: 50%;
    color: white;
    height: 1rem;
    position: absolute;
    right: -0.5rem;
    text-align: center;
    top:0;
    width: 1rem;
    text-align:center;
    font-size: 10px;
    margin-left: 10px;
}

.oder{
    width: 100%;
    align-content: center;
}
.oder__box {
    background-image: url(https://www.hoteljob.vn/files/Anh-HTJ-Hong/fine-dining-restaurant-la-gi-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 43.375rem;
    padding-top: 2rem;
    width: 100%;
}
.oder__form {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 35rem;
    margin: 0 auto;
    padding-top: 4rem;
    width: 43.75rem;
}

form {
    margin-bottom: 2.5rem;
}
h1, h2, h3, h4, h5, h6 {
    color: rgba(0,0,0,.85);
    font-weight: 500;
    margin-bottom: .5em;
    margin-top: 0;
}
p {
    margin-bottom: 1em;
    margin-top: 0;
}

p {
    margin: 0;
}
.oder__form-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    touch-action: manipulation;
}

input {
    border: none;
    border-bottom: 1px solid #000;
    height: 2.5rem;
    outline: none;
    width: 15rem;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
.check {
    align-items: center;
    display: flex;
    width: 100%;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    touch-action: manipulation;
}
.checkbox {
    height: 1rem;
    margin-left: 3rem;
    width: 1rem;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    touch-action: manipulation;
}
p {
    margin-bottom: 1em;
    margin-top: 0;
}

p {
    margin: 0;
}
.button {
    align-items: center;
    background-color: #d2691e;
    border: none!important;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    height: 2rem;
    justify-content: center;
    outline: none!important;
    width: 12rem;
}
.info-restaurant {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 25rem;
    padding-top: 4rem;
    width: 100%;
}
.map {
    padding-left: 6.375rem;
}
h1, h2, h3, h4, h5, h6 {
    color: rgba(0,0,0,.85);
    font-weight: 500;
    margin-bottom: .5em;
    margin-top: 0;
}
.grid-container {
    grid-column-gap: 1.825rem;
    display: grid;
    grid-template-columns: 48% 48%;
    padding: 1.5rem 1rem .5rem;
}

.grid-container {
    grid-template-columns: 15rem 15rem;
    width: 100%;
}
.info__item {
    height: 1.5rem;
    margin-bottom: 1rem;
}
span {
    font-weight: 600;
}


















footer{
    background-image: url('https://intern-project-chi.vercel.app/static/media/background-footer.3db8104f4c43054ea542.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    clear:both;
    border-bottom: 1px solid #333;
    

}

.footer-top{
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    margin: 0 6.375rem;
    padding: 1.25rem 0;
}
.footer-items{
    margin-left: 2.5rem;
}
.footer-item h3{
    color: white;
    font-size: 1.3rem;
}
.footer-item p{
    color: white;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}
.paymethod-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.paymethod-item{
    margin-left: 0.5rem;

}
.paymethod-container .paymethod-item img{
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    border-style: none;
    transition: .3s linear;
}
.line {
    border-bottom: 1px solid white;
    margin: 0;
    padding: 0;
}
.footer-bottom {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 0 6.375rem;
    padding: 1.5rem 0;
}
.footer-bottom .bottom-left .title {
    font-size: 1.25rem;
    color: white;
}
p{
    color: white;
    margin-bottom: 1em;
    margin-top: 0;
}
.footer-bottom .bottom-right .img {
    width: 30%;
}
.footer-bottom .bottom-right img {
    object-fit: cover;
    width: 100%;
}
.footer-bottom .bottom-right p {
    color: white;
}

.model{
    background-color: rgba(0,0,0,.4);
    bottom:0;
    display: block;
    left:0;
    position: fixed;
    right: 0;
    top: 5rem;
    width: 100%;
    z-index: 500;
    
    /* display: none; */
      
      
}
.model__item{
    background-color: #fff;
    position: absolute;
    right: 10.5rem;
    top: .6rem;
    width: 16.835rem;
    z-index: 2;
}
.model__item ul{
    margin:0;
    padding:0; 
}
.model__item ul li{
    list-style-type: none;
}
.model__item ul li a{
    color: black;
    display: block;
    padding: .75rem 1rem;
    text-decoration: none ;
}

.model:not(.active) {
    display: none;
}
.model__item ul li a:hover {
    color:#d2691e;
}


















